{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.profile.DepName }}</p>
          <p class="text-secondary">{{ user.profile.Cpi }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    {% for course in courses %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.Course.CourseID }}</a>
              <small class="text-muted">{{ course.Course.DeptName }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ course.Course.CourseName }}</a></h2>
            {% if course.FeedbackGiven == 0 %}
                <div class="form-group">
                    <form method="POST" onsubmit="return confirm('Are you sure you want to enroll?');">
                        {% csrf_token %}
                        <fieldset class="form-group"">
                            <legend class="border-bottom mb-4">Feedback</legend>
                            {{ form|crispy }}
                            <span>{{ course.Course.CourseID }}</span>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            <!-- <a class="article-content" href="{% url 'portal-about'%}">Fill feedback form</a> -->
          </div>
        </article>
    {% endfor %}
{% endblock content %}
