{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.profile.DepName }}</p>
          <p class="text-secondary">{{ user.profile.Cpi }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <h1>Previous Year Question Papers for {{Course.CourseName}}</h1>
    <br>
    <br>
    {% for qp in QuestionPaper %}
        <medium><a href="{{qp.QuePap}}">Google Drive Link : {{qp.QuePap}} <a> </medium>
        <br>
        <br>
    {% endfor %}
{% endblock content %}